
<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center><font color=#555555><font size=6> Ingeniería Financiera </font> <br> <br>

<center><font color=#555555><font size=5> ITE1731 - Microestructura y Sistemas de Trading </font> <br> <br> <br>

<center><font color=#555555><font size=5> Luz Clara Espinosa Collazo </font> <br> <br>
<center><font color=#555555><font size=5> José Manuel Ochoa Cárdenas </font> <br> <br>
   
<center> <font color= #555555> <font size = 4> Noviembre 2020 </a> | <font color= #555555> <font size = 4> Repositorio: <a href='https://github.com/'>Link</a></font>

<br>

---

<br>

<br>

<center> <font color= #555555> <font size = 7> Laboratorio 3
    </font> <br> <br> <font color= #555555> <font size = 5> Inversión del Capital </font>

# <font color= #555555> <font size = 5> Abstract </font>

<font color= #6B6B6B> <font size = 2> Este documento fue elaborado por tu **nombre completo**, como un trabajo parcial para la materia de **Microestructura y Sistemas de Trading - ITE1731**, la cual es parte del curriculum de la licenciatura en Ingeniería Financiera, ofertada por la universidad **ITESO**. En el presente trabajo se plantea la respuesta a la siguiente pregutna: *¿Qué estrategia de inversión propondrías si tu trabajo fuera administrar 1 Millón de pesos?*</font>

<br>

# <font color= #6B6B6B> <font size = 6> 0. Librerías y Dependencias </font>

<hr style="border:0.02in solid gray"> </hr>

# <font color= #6B6B6B> <font size = 5> 0.1 Librerías </font> <font color= #555555>

Para correr este notebook es necesario tener instaladas y/o en el archivo _requirements.txt_ las siguientes librerías :

- pandas>=1.1.1 
- numpy>=1.19.1
- jupyter>=1.0.0

# <font color= #6B6B6B> <font size = 5> 0.2 Dependencias </font> <font color= #555555>

Para correr este notebook es necesario contar con los siguientes archivos y dependencias externas:

- files/precios.csv : Precios históricos
- files/datos.txt : Otros datos históricos

<br>

# <font color= #6B6B6B> <font size = 6> 1. Introducción </font>

<hr style="border:0.02in solid gray"> </hr>

Dia a día en el mundo de las inversiones, existen mil y un ofertas para colocar nuestros recursos económicos, sin embargo, como podemos estar seguros de que la persona a cargo es un guru de las finanzas o tal vez solamente un tipo con un curso de trading por internet, tampoco es debamos desconfiar de cualquier persona o institución, hay empresas e individuos que han dedicado una enorme cantidad de tiempo a formarse una reputación, pero al final, al final de todo, los que llevan a cabo la toma de decisiones en este mundo son humanos y como humanos inherentemente tienen sentimientos y prejucios parecidos a los de los demás, tampoco es que cualquier persona pueda dedicarse al trading claro está, pero si podemos evaluar y traer a la consciencia los sesgos de conducata más comunes que tienden a cometer los traders, para posteriormente generar estrategias que ayuden a contrarestarlos, pero al mismo tiempo por parte de los clientes poder evalaur a los gestores.

<br>

# <font color= #6B6B6B> <font size = 6> 2. Objetivos </font>

<hr style="border:0.02in solid gray"> </hr> Los objetivos para este laboratio consisten en elaborar herramientas para para el análisis del desempeño de la actividad de trading, desde el punto de vista de la cuenta y desde el punto de vista de la persona que opera la cuenta (trader). observar con perfecta claridad cuando es que se coemnten sesgos de conducta propios del beahvioral finance

In [26]:
import data as dt
import functions as fn

<br>

# <font color= #6B6B6B> <font size = 6> 3. Datos </font>

<hr style="border:0.02in solid gray"> </hr>

In [6]:
dt.archivo.head()

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Close Price,Commission,Taxes,Swap,Profit
0,226630482,2020.09.21 21:26:53,buy,0.1,eurusd,1.17542,1.1735,1.1825,2020.09.22 09:36:00,1.17350,0,0,0,-19.20
1,226671310,2020.09.22 20:42:06,sell,0.2,usdchf,0.91975,0.92313,0.91286,2020.09.23 17:13:54,0.92314,0,0,0,-73.82
2,226713764,2020.09.23 20:56:22,sell,0.1,usdjpy,105.34400,105.618,104.78,2020.09.24 18:44:49,105.47400,0,0,0,-12.39
3,226714883,2020.09.23 22:04:30,buy,0.2,usdchf,0.92420,0,0,2020.09.29 16:54:41,0.92030,0,0,0,-85.17
4,226754160,2020.09.24 18:37:47,sell,0.1,audusd,0.70347,0.70647,0.69755,2020.09.24 20:16:09,0.70648,0,0,0,-30.10

In [1]:
# En esta sección es opcional incluir código para mostrar/visualizar
# los datos con los que se trabajó en el laboratorio

<br>

# <font color= #6B6B6B> <font size = 6> 4. Procesos </font>

<hr style="border:0.02in solid gray"> </hr>

### Lo primero que realizamos fue una funación para poder determinar el multiplicador de cada instrumento para obtener la información de los pips ganados o perdidos posteriormente

In [7]:
fn.f_pip_size('xauusd')

100

### Se ha añadido una nueva columna al archivo, que contiene la información sobre los trades, donde está el tiempo que permaneció abierta cada operación

In [10]:
tiempos = fn.f_columnas_tiempos(dt.archivo)
tiempos.head()

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Close Price,Commission,Taxes,Swap,Profit,Tiempo
0,226630482,2020.09.21 21:26:53,buy,0.1,eurusd,1.17542,1.1735,1.1825,2020.09.22 09:36:00,1.17350,0,0,0,-19.20,43747.0
1,226671310,2020.09.22 20:42:06,sell,0.2,usdchf,0.91975,0.92313,0.91286,2020.09.23 17:13:54,0.92314,0,0,0,-73.82,73908.0
2,226713764,2020.09.23 20:56:22,sell,0.1,usdjpy,105.34400,105.618,104.78,2020.09.24 18:44:49,105.47400,0,0,0,-12.39,78507.0
3,226714883,2020.09.23 22:04:30,buy,0.2,usdchf,0.92420,0,0,2020.09.29 16:54:41,0.92030,0,0,0,-85.17,499811.0
4,226754160,2020.09.24 18:37:47,sell,0.1,audusd,0.70347,0.70647,0.69755,2020.09.24 20:16:09,0.70648,0,0,0,-30.10,5902.0

### después se obtuvieron las columnas de pips, pips_acum y profit_acum

In [12]:
pips = fn.f_columnas_pips(tiempos)
pips.head()

,Ticket,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Close Price,Commission,Taxes,Swap,Profit,Tiempo,pips,pips_acum,profit_acum
0,226630482,2020.09.21 21:26:53,buy,0.1,eurusd,1.17542,1.1735,1.1825,2020.09.22 09:36:00,1.17350,0,0,0,-19.20,43747.0,-19.2,-19.2,-19.20
1,226671310,2020.09.22 20:42:06,sell,0.2,usdchf,0.91975,0.92313,0.91286,2020.09.23 17:13:54,0.92314,0,0,0,-73.82,73908.0,-33.9,-53.1,-93.02
2,226713764,2020.09.23 20:56:22,sell,0.1,usdjpy,105.34400,105.618,104.78,2020.09.24 18:44:49,105.47400,0,0,0,-12.39,78507.0,-13.0,-66.1,-105.41
3,226714883,2020.09.23 22:04:30,buy,0.2,usdchf,0.92420,0,0,2020.09.29 16:54:41,0.92030,0,0,0,-85.17,499811.0,-39.0,-105.1,-190.58
4,226754160,2020.09.24 18:37:47,sell,0.1,audusd,0.70347,0.70647,0.69755,2020.09.24 20:16:09,0.70648,0,0,0,-30.10,5902.0,-30.1,-135.2,-220.68

### Posteriormente se obtuvo un diccionario con información estadística básica en la primera llave y un ranking por instrumento en la segunda

In [21]:
diccionario = fn.f_estadisticas_ba(dt.archivo)
diccionario['df_1_tabla']

              medida      valor                            descripcion
0        Ops totales  15.000000                    Operaciones totales
1          Ganadoras   7.000000                  Operaciones ganadoras
2        Ganadoras_c   6.000000        Operaciones ganadoras de compra
3        Ganadoras_v   1.000000         Operaciones ganadoras de venta
4         Perdedoras   8.000000                 Operaciones perdedoras
5       Perdedoras_c   2.000000       Operaciones perdedoras de compra
6       Perdedoras_v   6.000000        Operaciones perdedoras de venta
7   Mediana (Profit) -12.390000       Mediana de profit de operaciones
8     Mediana (Pips) -13.000000         Mediana de pips de operaciones
9      r_efectividad   0.466667  Ganadoras Totales/Operaciones Totales
10      r_proporcion   0.875000   Ganadoras Totales/Perdedoras Totales
11   r_efectividad_c   0.400000  Ganadoras Compras/Operaciones Totales
12   r_efectividad_v   0.066667   Ganadoras Ventas/Operaciones Totales

In [22]:
diccionario['df_2_ranking']

   symbol  rank
4  usdmxn   1.0
5   wtico   1.0
0  audusd   0.5
1  eurusd   0.5
6  xauusd   0.5
2  usdchf   0.0
3  usdjpy   0.0

In [27]:
evolucion_capital = fn.f_evolucion_capital(dt.archivo)
evolucion_capital

    timestamp  profit_d  profit_acm_d
0  2020-09-21    -19.20     100019.20
1  2020-09-22    -73.82     100093.02
2  2020-09-23    -97.56     100190.58
3  2020-09-24    -30.10     100220.68
4  2020-09-25  -1641.00     101861.68
5  2020-09-28   1332.60     100529.08
6  2020-09-29     66.20     100462.88
7  2020-09-30    -45.60     100508.48
8  2020-10-01    950.90      99557.58
9  2020-10-02   6701.45      92856.13

In [2]:
# aqui se incluye toda la secuencia de main.py.
# tomando los pasos en los que fuiste haciendo todos los calculos
# y poniendo cada uno como un subtitulo con markdown de nivel dos, así ## subtitulo de mi paso

<br>

# <font color= #6B6B6B> <font size = 6> 5. Conclusiones </font>

<hr style="border:0.02in solid gray"> </hr>

In [3]:
# en esta seccion es opcional incluir algun codigo para mostrar
# visualmente algun concepto o hallazgo relevante como conclusion